body{
  margin-top:60px;
  background-color:#b4b4b4;
}
h1{
    text-align:center;
}
h3{
    text-align:center;
}
p{
  padding-left:600px;
  padding-right:200px;
}
div {
  padding-top:20px;
  padding-bottom:30px;
} 
h2{
  padding-top:20px
}
